In [183]:
import pandas as pd
import ast

def clean_and_convert(df):
    for column in df.columns:
        if df[column].dtype == 'object':
            # Utiliser pd.to_numeric pour tester si la colonne peut être convertie en numérique
            numeric_conversion = pd.to_numeric(df[column], errors='coerce')
            
            if numeric_conversion.notna().all():  # Si tous les éléments peuvent être convertis sans introduire de NaN
                df[column] = numeric_conversion
                if (numeric_conversion % 1 == 0).all():  # Si tous les nombres sont des entiers
                    df[column] = numeric_conversion.astype(int)
                else:
                    df[column] = numeric_conversion.astype(float)
            else:
                # Essayer de convertir en datetime si la conversion numérique échoue
                try:
                    datetime_conversion = pd.to_datetime(df[column], errors='coerce')
                    if datetime_conversion.notna().all():
                        df[column] = datetime_conversion
                        continue
                except Exception as e:
                    # Traiter comme une chaîne de caractères si aucune conversion numérique ou datetime n'est possible
                    df[column] = df[column].fillna('None').astype(str)

        # Appliquer un remplissage conditionnel en fonction du type de données
        if pd.api.types.is_integer_dtype(df[column]) or pd.api.types.is_float_dtype(df[column]):
            df[column].fillna(0, inplace=True)
        elif pd.api.types.is_datetime64_any_dtype(df[column]):
            df[column].fillna(pd.Timestamp('1970-01-01'), inplace=True)
        else:
            df[column].fillna('None', inplace=True)  # S'assure que tous les types object sont remplis avec 'NULL'
    
    # Suppression des doublons
    df.drop_duplicates(inplace=True)
    


    # Filtrer les lignes qui sont entièrement NaN après la conversion (adapté pour éviter d'enlever des lignes utiles)
    df = df.dropna(how='all')

    return df





def add_default_row(df):
    new_row = {}
    for col in df.columns:
        if pd.api.types.is_numeric_dtype(df[col]):
            new_row[col] = 0  # Utiliser 0 pour les types numériques
        elif pd.api.types.is_datetime64_any_dtype(df[col]):
            new_row[col] = pd.Timestamp('1970-01-01')  # Utiliser '1970-01-01' pour les types datetime
        else:
            new_row[col] = 'None'  # Utiliser 'None' pour les autres types

    new_row_df = pd.DataFrame([new_row], columns=df.columns)  # Créer un DataFrame à partir du nouveau dictionnaire de ligne
    df = pd.concat([df, new_row_df], ignore_index=True)  # Utiliser concat pour ajouter la ligne
    return df


def expand_athletes(df):

    # Convertir les chaînes représentant des listes en listes Python
    df['athletes'] = df['athletes'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

    # Liste pour garder les nouvelles lignes
    expanded_rows = []
    
    # Déterminer l'ID maximum pour continuer à incrémenter à partir de là
    max_id = df['id'].max() if not df.empty else 0

    # Itérer sur chaque ligne pour traiter les données des athlètes
    for idx, row in df.iterrows():
        athletes_data = row['athletes']
        
        # S'assurer que les données des athlètes sont dans une liste
        if isinstance(athletes_data, list) and athletes_data:
            print(athletes_data)
            # Utiliser la première entrée des athlètes pour la ligne actuelle
            first_athlete = athletes_data[0]
            if isinstance(first_athlete, tuple) and len(first_athlete) == 2:
                name, url = first_athlete
                print(name, url)
                df.at[idx, 'athlete_full_name'] = name
                df.at[idx, 'athlete_url'] = url

            # Traiter les athlètes supplémentaires pour créer de nouvelles lignes
            for athlete in athletes_data[1:]:  # Commencer à partir du deuxième élément
                if isinstance(athlete, tuple) and len(athlete) == 2:
                    name, url = athlete
                    new_row = row.copy()
                    new_row['athlete_full_name'] = name
                    new_row['athlete_url'] = url
                    max_id += 1
                    new_row['id'] = max_id
                    expanded_rows.append(new_row)

    # Ajouter les nouvelles lignes au DataFrame original
    if expanded_rows:
        new_df = pd.DataFrame(expanded_rows)
        df = pd.concat([df, new_df], ignore_index=True)

    # Supprimer la colonne 'athletes' après expansion
    df.drop(columns=['athletes'], inplace=True)

    return df

In [184]:
# Import necessary libraries
import ast
import pandas as pd
import json

# Load and process the Olympic Results HTML file
df_results = pd.read_html('data/olympic_results.html')[0]

df_hosts = pd.read_xml('data/olympic_hosts.xml', xpath='./row')

# Load and process the Olympic Medals Excel file
df_medals = pd.read_excel('data/olympic_medals.xlsx')

df_athletes = pd.read_json('data/olympic_athletes.json')

# # Clean and convert data types as necessary
# # For example, handle missing values and convert data types
# df_athletes.fillna({'athlete_medals': 0, 'bio': 'No biography provided'}, inplace=True)
# df_results.fillna(0, inplace=True)
# df_hosts['game_year'] = pd.to_numeric(df_hosts['game_year'])

df_results.columns = ['id'] + df_results.columns[1:].tolist()
df_results = expand_athletes(df_results)

clean_and_convert(df_hosts)
clean_and_convert(df_athletes)
# df_hosts = add_default_row(df_hosts)
# df_athletes = add_default_row(df_athletes)
clean_and_convert(df_results)
clean_and_convert(df_medals)


# Supprimer les doublons
df_hosts.drop_duplicates(inplace=True)
df_athletes.drop_duplicates(subset=['athlete_url'], inplace=True)
df_results.drop_duplicates(inplace=True)
df_medals.drop_duplicates(inplace=True)

# Display the DataFrames to check the loaded data
print("Olympic Results Data:")

# Appliquer la fonction pour étendre df_results

print(df_results.head())
print("\nOlympic Hosts Data:")
df_hosts = df_hosts.drop(df_hosts.columns[0], axis=1)
print(df_hosts.head())
print("\nOlympic Medals Data:")
df_medals.columns = ['id'] + df_medals.columns[1:].tolist()
print(df_medals.head())
print("\nOlympic Athletes Data:")
print(df_athletes.head())

In [168]:
# Suppression des lignes où athlete_url est 'NULL'
df_results = df_results.loc[df_results['athlete_url'] != 'None']
df_medals = df_medals.loc[df_medals['athlete_url'] != 'None']
df_athletes = df_athletes.loc[df_athletes['athlete_url'] != 'None']

In [165]:
# Vérifier la présence de NaN dans chaque DataFrame
nan_in_hosts = df_hosts.isna().any().any()
nan_in_athletes = df_athletes.isna().any().any()
nan_in_results = df_results.isna().any().any()
nan_in_medals = df_medals.isna().any().any()

print("NaN in hosts:", nan_in_hosts)
print("NaN in athletes:", nan_in_athletes)
print("NaN in results:", nan_in_results)
print("NaN in medals:", nan_in_medals)

NaN in hosts: False
NaN in athletes: False
NaN in results: False
NaN in medals: False

In [151]:
df_medals

,id,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21691,21691,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,GOLD,Athlete,NULL,https://olympics.com/en/athletes/launceston-el...,Launceston ELLIOT,Great Britain,GB,GBR
21692,21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,NULL,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN
21694,21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,NULL,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN
21695,21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,NULL,https://olympics.com/en/athletes/launceston-el...,Launceston ELLIOT,Great Britain,GB,GBR
21696,21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,NULL,https://olympics.com/en/athletes/sotirios-versis,Sotirios VERSIS,Greece,GR,GRE

In [182]:
df_results

,id,discipline_title,event_title,slug_game,participant_type,medal_type,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,False,1,Italy,IT,ITA,None,None,None,None
1,1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,False,2,Norway,NO,NOR,None,None,None,None
2,2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,False,3,Sweden,SE,SWE,None,None,None,None
3,3,Curling,Mixed Doubles,beijing-2022,GameTeam,None,False,4,Great Britain,GB,GBR,None,None,None,None
4,4,Curling,Mixed Doubles,beijing-2022,GameTeam,None,False,5,Canada,CA,CAN,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162799,162799,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,None,None,DNS,Poland,PL,POL,https://olympics.com/en/athletes/franciszek-bujak,Franciszek BUJAK,None,IRM
162800,162800,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,None,None,DNS,Poland,PL,POL,None,Henryk MÃ¼ckenbrunn,None,IRM
162801,162801,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,None,None,DNS,Czechoslovakia,CSHH,TCH,None,Milda Prokopec,None,IRM
162802,162802,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,None,None,DNS,United States of America,US,USA,None,Sigurd Overby,None,IRM
162803,162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,None,None,1,France,FR,FRA,None,None,142 pts,POINTS

In [153]:
# Calculer les comptages des valeurs pour la colonne 'id' dans df_results
value_counts = df_results['id'].value_counts()

# Filtrer pour obtenir uniquement les ID qui apparaissent plus d'une fois
duplicates = value_counts[value_counts > 1]

In [154]:
df_athletes

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NULL,NULL
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NULL,NULL
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NULL,NULL
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NULL,NULL
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NULL,NULL
...,...,...,...,...,...,...,...
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania BERTELE,1,Innsbruck 1976,1957.0,NULL,\n\n\nStefania Bertele had the following place...
75901,https://olympics.com/en/athletes/walter-cecconi,Walter CECCONI,1,Innsbruck 1976,1957.0,NULL,\n\n\nWalter Cecconi had the following placeme...
75902,https://olympics.com/en/athletes/susan-kelley,Susan KELLEY,1,Innsbruck 1976,1954.0,NULL,\n\n\nSusie Kelley competed in ice dancing wit...
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew STROUKOFF,1,Innsbruck 1976,1960.0,NULL,\n\n\nAndrew Stroukoff competed in ice dancing...
75904,NULL,NULL,0,NULL,0.0,NULL,NULL

In [155]:

value_counts = df_athletes['athlete_url'].value_counts()

value_counts
ivan_ivanov_rows = df_athletes[df_athletes['athlete_url'] == 'https://olympics.com/en/athletes/geiger-1']

print(ivan_ivanov_rows)

                                    athlete_url athlete_full_name  \
1843  https://olympics.com/en/athletes/geiger-1    Vinzenz GEIGER

      games_participations        first_game  athlete_year_birth  \
1843                     2  PyeongChang 2018              1997.0

                      athlete_medals   bio
1843  \n\n\n2\n\nG\n\n\n\n1\n\nS\n\n  NULL

In [32]:

df_hosts

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20 12:00:00+00:00,2022-02-04 15:00:00+00:00,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08 14:00:00+00:00,2021-07-23 11:00:00+00:00,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25 08:00:00+00:00,2018-02-08 23:00:00+00:00,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21 21:00:00+00:00,2016-08-05 12:00:00+00:00,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23 16:00:00+00:00,2014-02-07 04:00:00+00:00,Russian Federation,Sochi 2014,Winter,2014
5,london-2012,2012-08-12 19:00:00+00:00,2012-07-27 07:00:00+00:00,Great Britain,London 2012,Summer,2012
6,vancouver-2010,2010-02-28 04:00:00+00:00,2010-02-12 16:00:00+00:00,Canada,Vancouver 2010,Winter,2010
7,beijing-2008,2008-08-24 12:00:00+00:00,2008-08-08 00:00:00+00:00,China,Beijing 2008,Summer,2008
8,turin-2006,2006-02-26 19:00:00+00:00,2006-02-10 07:00:00+00:00,Italy,Turin 2006,Winter,2006
9,athens-2004,2004-08-29 18:00:00+00:00,2004-08-13 06:00:00+00:00,Greece,Athens 2004,Summer,2004
10,salt-lake-city-2002,2002-02-24 08:00:00+00:00,2002-02-08 15:00:00+00:00,United States,Salt Lake City 2002,Winter,2002
11,sydney-2000,2000-10-01 09:00:00+00:00,2000-09-15 01:00:00+00:00,Australia,Sydney 2000,Summer,2000
12,nagano-1998,1998-02-22 11:00:00+00:00,1998-02-06 23:00:00+00:00,Japan,Nagano 1998,Winter,1998
13,atlanta-1996,1996-08-05 21:00:00+00:00,1996-07-19 12:00:00+00:00,United States,Atlanta 1996,Summer,1996
14,lillehammer-1994,1994-02-27 19:00:00+00:00,1994-02-12 07:00:00+00:00,Norway,Lillehammer 1994,Winter,1994
15,barcelona-1992,1992-08-09 18:00:00+00:00,1992-07-25 06:00:00+00:00,Spain,Barcelona 1992,Summer,1992
16,albertville-1992,1992-02-23 19:00:00+00:00,1992-02-08 07:00:00+00:00,France,Albertville 1992,Winter,1992
17,seoul-1988,1988-10-02 10:00:00+00:00,1988-09-16 22:00:00+00:00,Republic of Korea,Seoul 1988,Summer,1988
18,calgary-1988,1988-02-28 03:00:00+00:00,1988-02-13 15:00:00+00:00,Canada,Calgary 1988,Winter,1988
19,los-angeles-1984,1984-08-12 19:00:00+00:00,1984-07-28 15:00:00+00:00,United States,Los Angeles 1984,Summer,1984
20,sarajevo-1984,1984-02-19 19:00:00+00:00,1984-02-08 07:00:00+00:00,Yugoslavia,Sarajevo 1984,Winter,1984
21,moscow-1980,1980-08-03 18:00:00+00:00,1980-07-19 05:00:00+00:00,USSR,Moscow 1980,Summer,1980
22,lake-placid-1980,1980-02-24 01:00:00+00:00,1980-02-13 13:00:00+00:00,United States,Lake Placid 1980,Winter,1980
23,montreal-1976,1976-07-31 22:00:00+00:00,1976-07-17 12:00:00+00:00,Canada,Montreal 1976,Summer,1976
24,innsbruck-1976,1976-02-15 19:00:00+00:00,1976-02-04 07:00:00+00:00,Austria,Innsbruck 1976,Winter,1976
25,munich-1972,1972-09-11 19:00:00+00:00,1972-08-26 07:00:00+00:00,Federal Republic of Germany,Munich 1972,Summer,1972
26,sapporo-1972,1972-02-13 11:00:00+00:00,1972-02-02 23:00:00+00:00,Japan,Sapporo 1972,Winter,1972
27,mexico-city-1968,1968-10-28 04:00:00+00:00,1968-10-12 16:00:00+00:00,Mexico,Mexico City 1968,Summer,1968
28,grenoble-1968,1968-02-18 19:00:00+00:00,1968-02-06 07:00:00+00:00,France,Grenoble 1968,Winter,1968
29,tokyo-1964,1964-10-24 11:00:00+00:00,1964-10-09 23:00:00+00:00,Japan,Tokyo 1964,Summer,1964
30,innsbruck-1964,1964-02-09 19:00:00+00:00,1964-01-29 07:00:00+00:00,Austria,Innsbruck 1964,Winter,1964
31,rome-1960,1960-09-11 19:00:00+00:00,1960-08-25 07:00:00+00:00,Italy,Rome 1960,Summer,1960
32,squaw-valley-1960,1960-02-28 04:00:00+00:00,1960-02-18 16:00:00+00:00,United States,Squaw Valley 1960,Winter,1960
33,melbourne-1956,1956-12-08 10:00:00+00:00,1956-11-21 22:00:00+00:00,"Australia, Sweden",Melbourne 1956,Summer,1956
34,cortina-d-ampezzo-1956,1956-02-05 19:00:00+00:00,1956-01-26 07:00:00+00:00,Italy,Cortina d'Ampezzo 1956,Winter,1956
35,helsinki-1952,1952-08-03 07:00:00+00:00,1952-07-19 07:00:00+00:00,Finland,Helsinki 1952,Summer,1952
36,oslo-1952,1952-02-25 19:00:00+00:00,1952-02-14 07:00:00+00:00,Norway,Oslo 1952,Winter,1952
37,london-1948,1948-08-14 19:00:00+00:00,1948-07-29 07:00:00+00:00,Great Britain,London 1948,Summer,1948
38,st-moritz-1948,1948-02-08 19:00:00+00:00,1948-01-30 07:00:00+00:00,Switzerland,St. Moritz 1948,Winter,1948
39,berlin-1936,1936-08-16 19:00:00+00:00,1936-08-01 07:00:00+00:00,Germany,Berlin 1936,Summer,1936
40,garmisch-partenkirchen-1936,1936-02-16 20:00:00+00:00,1936-02-06 08:00:00+00:00,Germany,Garmisch-Partenkirchen 1936,Winter,1936
41,los-angeles-1932,1932-08-14 19:00:00+00:00,1932-07-30 16:00:00+00:00,United States,Los Angeles 1932,Summer,1932
42,lake-placid-1932,1932-02-15 18:00:00+00:00,1932-02-04 13:00:00+00:00,United States,Lake Placid 1932,Winter,1932
43,amsterdam-1928,1928-08-12 19:00:00+00:00,1928-05-17 07:00:00+00:00,Netherlands,Amsterdam 1928,Summer,1928
44,st-moritz-1928,1928-02-19 08:00:00+00:00,1928-02-11 08:00:00+00:00,Switzerland,St. Moritz 1928,Winter,1928
45,paris-1924,1924-07-27 19:00:00+00:00,1924-05-04 07:00:00+00:00,France,Paris 1924,Summer,1924
46,chamonix-1924,1924-02-05 20:00:00+00:00,1924-01-25 08:00:00+00:00,France,Chamonix 1924,Winter,1924
47,antwerp-1920,1920-09-12 19:00:00+00:00,1920-04-20 07:00:00+00:00,Belgium,Antwerp 1920,Summer,1920
48,stockholm-1912,1912-07-27 20:00:00+00:00,1912-05-05 08:00:00+00:00,Sweden,Stockholm 1912,Summer,1912
49,london-1908,1908-10-31 20:09:00+00:00,1908-04-27 08:00:00+00:00,Great Britain,London 1908,Summer,1908
50,st-louis-1904,1904-11-24 02:00:00+00:00,1904-07-01 14:00:00+00:00,United States,St. Louis 1904,Summer,1904
51,paris-1900,1900-10-28 19:50:39+00:00,1900-05-14 08:50:39+00:00,France,Paris 1900,Summer,1900
52,athens-1896,1896-04-15 11:39:39+00:00,1896-04-06 11:38:39+00:00,Greece,Athens 1896,Summer,1896
53,NULL,1970-01-01 00:00:00,1970-01-01 00:00:00,NULL,NULL,NULL,0

In [133]:
value_counts = df_hosts['game_slug'].value_counts()
# Vérifier si toutes les valeurs sont égales à 1
all_unique = all(count == 1 for count in value_counts)

print(all_unique)

True

### Création de la base de données

In [163]:
# from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, DateTime, ForeignKey
# from sqlalchemy.ext.declarative import declarative_base
# from sqlalchemy.orm import sessionmaker

# # Configuration de l'engine et de la base
# engine = create_engine('mysql+pymysql://360556_root:hackathonipssi*@mysql-hackathonipssi.alwaysdata.net/hackathonipssi_mia4')
# Base = declarative_base()
# metadata = MetaData(bind=engine)
# Session = sessionmaker(bind=engine)
# session = Session()

# # Définition des tables
# class Athlete(Base):
#     __tablename__ = 'athletes'
#     athlete_full_name = Column(String(255), primary_key=True)
#     games_participations = Column(Integer)
#     first_game = Column(String(255))
#     athlete_year_birth = Column(Integer)
#     athlete_medals = Column(Integer)
#     bio = Column(String(1024))

# class Host(Base):
#     __tablename__ = 'hosts'
#     game_slug = Column(String(255), primary_key=True)
#     game_name = Column(String(255))
#     game_location = Column(String(255))
#     game_season = Column(String(255))
#     game_year = Column(Integer)

# class Result(Base):
#     __tablename__ = 'results'
#     id = Column(Integer, primary_key=True)
#     discipline_title = Column(String(255))
#     event_title = Column(String(255))
#     slug_game = Column(String(255), ForeignKey('hosts.game_slug'))
#     participant_type = Column(String(255))
#     medal_type = Column(String(255))
#     rank_equal = Column(Integer)
#     rank_position = Column(Integer)
#     country_name = Column(String(255))
#     country_code = Column(String(3))
#     country_3_letter_code = Column(String(3))
#     athlete_full_name = Column(String(255), ForeignKey('athletes.athlete_full_name'))

# class Medal(Base):
#     __tablename__ = 'medals'
#     id = Column(Integer, primary_key=True)
#     discipline_title = Column(String(255))
#     slug_game = Column(String(255), ForeignKey('hosts.game_slug'))
#     event_title = Column(String(255))
#     event_gender = Column(String(255))
#     medal_type = Column(String(255))
#     participant_type = Column(String(255))
#     participant_title = Column(String(255))
#     country_name = Column(String(255))
#     country_code = Column(String(3))
#     country_3_letter_code = Column(String(3))
#     athlete_full_name = Column(String(255), ForeignKey('athletes.athlete_full_name'))

# # Création des tables dans la base de données
# Base.metadata.create_all(engine)

   id discipline_title     athlete_full_name  \
0   1          Curling  Stefania CONSTANTINI
1   1          Curling          Amos MOSANER
2   2          Skating          Yuzuru HANYU

                                         athlete_url
0  https://olympics.com/en/athletes/stefania-cons...
1      https://olympics.com/en/athletes/amos-mosaner
2      https://olympics.com/en/athletes/yuzuru-hanyu

In [166]:
# Créer un ensemble des URLs valides d'athlètes à partir de df_athletes
valid_urls = set(df_athletes['athlete_url'])

# Filtrer df_results pour identifier les entrées dont l'URL de l'athlète n'est pas dans valid_urls
mismatched_results = df_results[~df_results['athlete_url'].isin(valid_urls)]

# Extraire les données pertinentes des résultats filtrés
new_athlete_data = mismatched_results[['athlete_url', 'athlete_full_name']].drop_duplicates()

# Filtrer les données déjà présentes dans df_athletes
new_athlete_data = new_athlete_data[~new_athlete_data['athlete_url'].isin(df_athletes['athlete_url'])]

# Ajouter les nouvelles données à df_athletes
df_athletes = pd.concat([df_athletes, new_athlete_data], ignore_index=True)

# Afficher les données mises à jour
print("Updated df_athletes with new entries from df_results:")
clean_and_convert(df_athletes)
print(df_athletes.tail())

Updated df_athletes with new entries from df_results:

C:\Users\atdf2\AppData\Local\Temp\ipykernel_15044\1276402077.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datetime_conversion = pd.to_datetime(df[column], errors='coerce')
C:\Users\atdf2\AppData\Local\Temp\ipykernel_15044\1276402077.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datetime_conversion = pd.to_datetime(df[column], errors='coerce')
C:\Users\atdf2\AppData\Local\Temp\ipykernel_15044\1276402077.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datetime_conversion = pd.to_datetime(df[column], errors='coerce')
C:\Users\atdf2\AppData\Local\Temp\ipykernel_15044\1276402077.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datetime_conversion = pd.to_datetime(df[column], errors='coerce')
C:\Users\atdf2\AppData\Local\Temp\ipykernel_15044\1276402077.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datetime_conversion = pd.to_datetime(df[column], errors='coerce')

      athlete_url athlete_full_name  games_participations first_game  \
83444        None        Toon Ebben                   0.0       None
83445        None       Luigi Faure                   0.0       None
83446        None     Mario Cavalla                   0.0       None
83447        None      Ivo Demenego                   0.0       None
83448        None    Milda Prokopec                   0.0       None

       athlete_year_birth athlete_medals   bio
83444                 0.0           None  None
83445                 0.0           None  None
83446                 0.0           None  None
83447                 0.0           None  None
83448                 0.0           None  None

In [167]:
# Créer un ensemble des URLs valides d'athlètes à partir de df_athletes
valid_urls = set(df_athletes['athlete_url'])

new_medal_data = mismatched_results[['athlete_url']].drop_duplicates()

# Filtrer toute nouvelle donnée qui pourrait déjà exister dans df_medals
df_medal_data = df_medals[~df_medals['athlete_url'].isin(valid_urls)]

# Extraire les données pertinentes des résultats filtrés
new_athlete_data = df_medal_data[['athlete_url', 'athlete_full_name']].drop_duplicates()

# Filtrer les données déjà présentes dans df_athletes
new_athlete_data = new_athlete_data[~new_athlete_data['athlete_url'].isin(df_athletes['athlete_url'])]

# Ajouter les nouvelles données à df_athletes
df_athletes = pd.concat([df_athletes, new_athlete_data], ignore_index=True)

# Afficher les données mises à jour
print("Updated df_athletes with new entries from df_results:")
clean_and_convert(df_athletes)
print(df_athletes.tail())

Updated df_athletes with new entries from df_results:

C:\Users\atdf2\AppData\Local\Temp\ipykernel_15044\1276402077.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datetime_conversion = pd.to_datetime(df[column], errors='coerce')
C:\Users\atdf2\AppData\Local\Temp\ipykernel_15044\1276402077.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datetime_conversion = pd.to_datetime(df[column], errors='coerce')
C:\Users\atdf2\AppData\Local\Temp\ipykernel_15044\1276402077.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datetime_conversion = pd.to_datetime(df[column], errors='coerce')
C:\Users\atdf2\AppData\Local\Temp\ipykernel_15044\1276402077.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datetime_conversion = pd.to_datetime(df[column], errors='coerce')
C:\Users\atdf2\AppData\Local\Temp\ipykernel_15044\1276402077.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datetime_conversion = pd.to_datetime(df[column], errors='coerce')

                                             athlete_url  \
83463  https://olympics.com/en/athletes/martin-ingema...
83464  https://olympics.com/en/athletes/gwendoline-ea...
83465  https://olympics.com/en/athletes/martha-adlers...
83466      https://olympics.com/en/athletes/albert-corey
83467    https://olympics.com/en/athletes/francis-gailey

               athlete_full_name  games_participations first_game  \
83463  Martin Ingemar GUNNARSSON                   0.0       None
83464  Gwendoline EASTLAKE-SMITH                   0.0       None
83465        Märtha ADLERSTRAHLE                   0.0       None
83466               Albert COREY                   0.0       None
83467             Francis GAILEY                   0.0       None

       athlete_year_birth athlete_medals   bio
83463                 0.0           None  None
83464                 0.0           None  None
83465                 0.0           None  None
83466                 0.0           None  None
83467                 0.0           None  None

In [169]:
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import pandas as pd

Base = declarative_base()

# Dictionnaire pour stocker les types de clés primaires
primary_key_types = {}

def create_dynamic_class(table_name, df, primary_key=None, foreign_keys=None, custom_types=None):
    attributes = {'__tablename__': table_name}
    for col in df.columns:
        if custom_types and col in custom_types:
            col_type = custom_types[col]
        else:
            col_type, max_length = dtype_to_sqltype(df[col])
            if col_type == String and max_length:
                col_type = String(max_length)

        column_args = []
        column_kwargs = {}
        if primary_key and col == primary_key:
            column_kwargs['primary_key'] = True
            primary_key_types[table_name] = col_type  # Enregistrer le type de la clé primaire

        if foreign_keys and col in foreign_keys:
            # S'assurer que le type de la clé étrangère correspond au type de la clé primaire de la table référencée
            ref_table, ref_column = foreign_keys[col].split('.')
            fk_type = primary_key_types.get(ref_table, col_type)  # Utiliser le type de la clé primaire si disponible
            fk = ForeignKey(f"{ref_table}.{ref_column}", ondelete="SET NULL")
            column_args.append(fk)
            col_type = fk_type  # Appliquer le type de la clé primaire

        attributes[col] = Column(col_type, *column_args, **column_kwargs)

    return type(table_name, (Base,), attributes)

def dtype_to_sqltype(col):
    # Vérifier le type de données pour choisir le type de colonne SQL approprié
    if pd.api.types.is_integer_dtype(col.dtype):
        return Integer, None
    elif pd.api.types.is_float_dtype(col.dtype):
        return Float, None
    elif pd.api.types.is_datetime64_any_dtype(col.dtype):
        return DateTime, None
    elif pd.api.types.is_string_dtype(col.dtype):
        # Calculer la longueur maximale uniquement pour les chaînes de caractères
        max_length = col.fillna('').map(str).map(len).max()
        return String, max_length
    return String, 255  # Retourne 255 par défaut si le type n'est pas reconnu

# Configuration initiale pour SQLAlchemy
engine = create_engine('mysql+pymysql://360556_root:hackathonipssi*@mysql-hackathonipssi.alwaysdata.net/hackathonipssi_mia4')
Base.metadata.bind = engine
session = sessionmaker(bind=engine)()

# création de classes dynamiques avec la longueur de chaîne ajustée
Athlete = create_dynamic_class('Athlete', df_athletes, primary_key='athlete_url')
Host = create_dynamic_class('Host', df_hosts, primary_key='game_slug')
Result = create_dynamic_class('Result', df_results, primary_key='id', foreign_keys={
    'athlete_url': 'Athlete.athlete_url',
    'slug_game': 'Host.game_slug'
})
Medal = create_dynamic_class('Medal', df_medals, primary_key='id', foreign_keys={
    'slug_game': 'Host.game_slug',
    'athlete_url': 'Athlete.athlete_url'
})

# Création des tables
Base.metadata.create_all(engine)

In [170]:
import logging
from sqlalchemy.exc import IntegrityError, DataError, SQLAlchemyError

# Vérifier si l'ID 0 existe dans df_results et l'incrémenter si c'est le cas
if (df_results['id'] == 0).any():
    df_results['id'] += 1
    print("IDs in df_results have been incremented to avoid ID 0.")

# Vérifier si l'ID 0 existe dans df_medals et l'incrémenter si c'est le cas
if (df_medals['id'] == 0).any():
    df_medals['id'] += 1
    print("IDs in df_medals have been incremented to avoid ID 0.")


def load_data2(df, model_class, batch_size=100):
    try:
        for i, row in enumerate(df.iterrows(), start=1):
            model_instance = model_class(**row[1].to_dict())
            session.add(model_instance)
            if i % batch_size == 0:
                session.commit()
        session.commit()  # Pour s'assurer que le dernier lot est également commité
    except SQLAlchemyError as e:
        print(f"An error occurred: {e}")
        session.rollback()  # Rollback en cas d'erreur
    finally:
        session.close()  # Assurez-vous que la session est fermée après l'opération


# Configuration du logger
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

def load_data(df, model_class, batch_size=100):
    try:
        for i, row in enumerate(df.iterrows(), start=1):
            model_instance = model_class(**row[1].to_dict())
            session.merge(model_instance)  # Utilisez merge au lieu de add pour un upsert
            if i % batch_size == 0:
                session.commit()
                logger.info(f"Committed batch {i // batch_size}")
        session.commit()
    except IntegrityError as ie:
        logger.error(f"Integrity error: {ie}")
        session.rollback()
    except DataError as de:
        logger.error(f"Data error: {de}")
        session.rollback()
    except Exception as e:
        logger.error(f"An unexpected error occurred: {e}")
        session.rollback()
    finally:
        session.close()
        logger.info("Session closed")

load_data2(df_athletes, Athlete)
load_data2(df_hosts, Host)
load_data2(df_results, Result)
load_data2(df_medals, Medal)

IDs in df_medals have been incremented to avoid ID 0.

### La France a organisé 6 JO : 3 d’hiver et 3 d’été (en comptant celui de 2024) ?

In [10]:
# Vérifiez les valeurs uniques dans la colonne 'game_season'
unique_game_seasons = df_hosts['game_season'].unique()
print(unique_game_seasons)

['Winter' 'Summer']

In [29]:
# Filtrer les données pour afficher uniquement les lignes où 'game_location' est égale à 'France'
df_hosts_france = df_hosts[df_hosts['game_location'] == 'France']

# Afficher les résultats filtrés
print(df_hosts_france)

# Compter le nombre de lignes pour chaque valeur unique dans 'game_season'
season_counts = df_hosts_france['game_season'].value_counts()

# Afficher les résultats des comptages
print(season_counts)

    index         game_slug             game_end_date  \
16     16  albertville-1992 1992-02-23 19:00:00+00:00
28     28     grenoble-1968 1968-02-18 19:00:00+00:00
45     45        paris-1924 1924-07-27 19:00:00+00:00
46     46     chamonix-1924 1924-02-05 20:00:00+00:00
51     51        paris-1900 1900-10-28 19:50:39+00:00

             game_start_date game_location         game_name game_season  \
16 1992-02-08 07:00:00+00:00        France  Albertville 1992      Winter
28 1968-02-06 07:00:00+00:00        France     Grenoble 1968      Winter
45 1924-05-04 07:00:00+00:00        France        Paris 1924      Summer
46 1924-01-25 08:00:00+00:00        France     Chamonix 1924      Winter
51 1900-05-14 08:50:39+00:00        France        Paris 1900      Summer

    game_year
16       1992
28       1968
45       1924
46       1924
51       1900
game_season
Winter    3
Summer    2
Name: count, dtype: int64

### La France est le 2è pays qui a organisé le plus de JO après les USA (8 JO) ?

In [25]:
# Créer un DataFrame pour compter le nombre de Jeux Olympiques organisés par chaque pays
olympic_hosts_count = df_hosts['game_location'].value_counts().reset_index()
olympic_hosts_count.columns = ['Country', 'Number of Olympic Games Hosted']
olympic_hosts_count = olympic_hosts_count.sort_values(by='Number of Olympic Games Hosted', ascending=False)
# Afficher le DataFrame créé
print(olympic_hosts_count)


# Accéder à la deuxième ligne du DataFrame trié
second_most_hosting_country = olympic_hosts_count.iloc[1]

# Afficher la deuxième ligne
print('le 2è pays qui a organisé le plus de JO')
second_most_hosting_country

                        Country  Number of Olympic Games Hosted
0                 United States                               8
1                        France                               5
2                         Japan                               4
3                 Great Britain                               3
4                        Canada                               3
5                         Italy                               3
10                        China                               2
12            Republic of Korea                               2
11                       Greece                               2
9                       Austria                               2
8                   Switzerland                               2
7                       Germany                               2
6                        Norway                               2
19                       Mexico                               1
24                      Belgium                               1
23                  Netherlands                               1
22                       Brazil                               1
21                      Finland                               1
20            Australia, Sweden                               1
13                    Australia                               1
18  Federal Republic of Germany                               1
17           Russian Federation                               1
16                         USSR                               1
15                   Yugoslavia                               1
14                        Spain                               1
25                       Sweden                               1
le 2è pays qui a organisé le plus de JO

Country                           France
Number of Olympic Games Hosted         5
Name: 1, dtype: object

### Les JO d’hiver sont nés à Chamonix en 1924 ?

In [30]:
# Filtrer pour obtenir uniquement les Jeux Olympiques d'hiver
winter_games = df_hosts[df_hosts['game_season'] == 'Winter']

# Trouver la ligne avec la date de début la plus ancienne des Jeux Olympiques d'hiver
oldest_winter_game = winter_games.loc[winter_games['game_start_date'].idxmin()]

# Afficher la date la plus ancienne et le pays correspondant
print(f"The earliest Winter Olympic Games started on: {oldest_winter_game['game_start_date']} in {oldest_winter_game['game_name']}")

The earliest Winter Olympic Games started on: 1924-01-25 08:00:00+00:00 in Chamonix 1924

### JO de Paris, en 1900 : les femmes peuvent participer aux JO ?

In [101]:
# Custom operation because this isn't a direct equality or join key
merged_df = pd.merge(df_hosts, df_medals, left_on='game_slug', right_on='slug_game')

# Step 3: Filter for rows where event_gender is either 'Mixed' or 'Women'
filtered_df = merged_df[(merged_df['event_gender'] == 'Mixed') | (merged_df['event_gender'] == 'Women')]
filtered_df = filtered_df.sort_values(by='game_start_date', ascending=True)
# Display the results

filtered_df = filtered_df.iloc[0]
print(filtered_df[['game_start_date', 'game_name', 'game_location', 'slug_game', 'event_gender']])

game_start_date    1900-05-14 08:50:39+00:00
game_name                         Paris 1900
game_location                         France
slug_game                         paris-1900
event_gender                           Mixed
Name: 21545, dtype: object

### Seuls 4 athlètes ont remporté des médailles à la fois aux JO d’hiver et d’été. Une seule d’entre eux, Christa Ludinger-Rothenburger, a remporté des médailles au cours de la même année ?

In [66]:
# Custom operation because this isn't a direct equality or join key
merged_df = pd.merge(df_hosts, df_medals, left_on='game_slug', right_on='slug_game')

# Filter out rows where medal_type is 'NULL'
valid_medals_df = merged_df[merged_df['medal_type'] != 'NULL']

# Step 3: Group by athlete names and Olympic types (assuming Olympic type is in 'game_season')
# Ensure that only valid medals are considered
athlete_medals = valid_medals_df.groupby(['athlete_url', 'game_season']).size().unstack(fill_value=0)

# Filter athletes who have at least one medal in both Winter and Summer Olympics
dual_medalists = athlete_medals[(athlete_medals['Winter'] > 0) & (athlete_medals['Summer'] > 0)]

# Display these athletes
print(dual_medalists)

game_season                                        Summer  Winter
athlete_url
NULL                                                 3984     686
https://olympics.com/en/athletes/christa-luding         1       4
https://olympics.com/en/athletes/clara-hughes           2       3
https://olympics.com/en/athletes/gillis-grafstrom       1       3
https://olympics.com/en/athletes/lauryn-williams        1       1
https://olympics.com/en/athletes/walter-jakobsson       1       1

In [117]:
# Step 2: Merge df_hosts with df_medals where slug_game contains simplified game_name
merged_df = pd.merge(df_hosts, df_medals, left_on='game_slug', right_on='slug_game')

# Ensure game_start_date is a datetime to extract the year
merged_df['game_start_date'] = pd.to_datetime(merged_df['game_start_date'])
merged_df['year'] = merged_df['game_start_date'].dt.year

# Filter out rows where medal_type is 'NULL'
valid_medals_df = merged_df[merged_df['medal_type'] != 'NULL']

# Step 3: Group by athlete names, Olympic types, and year
# This will allow checking for medals won by type and year
athlete_medals_by_year = valid_medals_df.groupby(['athlete_full_name', 'game_season', 'year']).size().unstack(level=1, fill_value=0)

# Check for Christa Luding-Rothenburger specifically
christa_medals = athlete_medals_by_year.loc['Christa LUDING-ROTHENBURGER']

# Determine if there are years where she won medals in both Winter and Summer Olympics
dual_year_medals = christa_medals[(christa_medals['Winter'] > 0) & (christa_medals['Summer'] > 0)]

# Display the results
print(christa_medals)

game_season  Summer  Winter
year
1984              0       1
1988              1       2
1992              0       1